/*font styles*/

/**MONIKA*/

body{

    font-family: 'Gothic A1', sans-serif;
}

#container{

    position: relative;
}

/* Top part of header styles */
#top_header{

    background-color: #006491;
    box-shadow: inset 0 0 10px #fff;
    width: 100%;
    height: 50px;
}

/* Logo styles*/

#logo{

    position: absolute;
    left: 70px;
    top:0;
    z-index:1;
}

#logo:hover{
    transform: scale(1.05);
}

/* Bottom part of header styles */

#bottom_header{

    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(181, 181, 181, 0.7);
    position: absolute;
    top: 50px;
    height: 60px;
    width: 100%;
}

/* Main Navigation styles */

#main_nav_bar nav {

    position: relative;
}

#main_nav_bar nav ul{
    position:absolute;

    padding-top: 20px;
}

#main_nav_bar nav ul li{

    list-style-type: none;
    display: inline-block;
}

#main_nav_bar nav ul li a {

    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #006491;
    text-shadow: 0px 1.5px rgba(0,0,0,0.2);
}

#main_nav_bar nav ul li a:hover{

    background-color: #a6c9d9;
    text-decoration: none;
    color: #fff;
}

#main_nav_bar{
    float: left;
    width: 50%;
}

/* contact and user icons */
#header_icons{
    padding-top: 6px;
}

.user_icon a, .contact_icon a{
    font-size: 28px;
    color: #fff;
}

#top_header .user_icon{
    float: right;
    margin-right: 6.5%;
}

#top_header .contact_icon{
    float: right;
    margin-right: 2%;
}

/* Brand name styles*/
#brand_name{
    float: left;
    width: 50%;
    padding-left: 13.5%;
}

#brand_name .name_first_part{
    margin-top: -3px;
    font-weight: 700;
    color: #006491;
    text-shadow: 0px 1.5px rgba(0,0,0,0.2);
    font-size: 31px;
}

#brand_name .name_second_part{
    margin-top: -30px;
    font-size: 21px;
    color: #fff;
    -webkit-text-stroke: 0.5px #e51937;
    text-shadow: 0px 1.5px rgba(0,0,0,0.2);
}

code#quote{

    color: #006491;

}

header{
    height: 130px;
}

#main_content{
    padding: 0 100px;
    min-height: 500px;
}

/**END Monika*/

/**WILMER*/


.contact.form{
    max-width: 960px;
    min-width: 350px;
    margin:  0 auto;
}

.success.icon{
    font-size: 7em;
    color: #e51937;
    text-align: center;
}

.success.icon h3,
.success.icon h4{
    color: #006491;
}

.success.icon i{
    margin: 0 auto;
}

.success.icon i:hover{

    transform: rotate3d(30deg)

}


/*---------------Nutrition guide ----------------*/

.guide{
            font-family: 'Gothic A1', sans-serif;
            font-size: 18px;
            line-height: 2.5em;
        }

/*-------------- Menu for schools --------------*/

h1,h2,h3{
    padding: 10px;
    color: #006491;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;   
    font-weight: 800;

}


.menu-image{
    margin-bottom: 10px;
    border: 1px solid #006491;
    text-align: center;
}
#menu-add-btn{
    background-color: #017ab0;
    padding: 6px;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 15px;
    width: 80px;
    font-weight: 800;
}
#menu-add-btn:hover{
    text-decoration: none;
}


/*--------------Footer --------------------*/

footer{
    width: 100%;
    min-height: 200px;
    background-color: #006491;
    font-family: 'Gothic A1', sans-serif;
    
}
.footer-logo{
    font-weight: 800;
    color: #fff;
    font-size: 26px;
    padding-top: 5px;
    margin:0 auto;
    padding-left: 70px;
}
.nutrition{
    -webkit-text-stroke: 0.5px #e51937;
    margin-left: 60px;
    text-shadow: 0px 1.5px rgba(0,0,0,0.2);
}
.footer-para{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding-left: 70px;
}
.footer-copyright{
    font-size: 16px;
    color: #fff;
    padding-left: 70px;
} 

.page-footer .footer-links a:hover{
    text-decoration: none;
}
.page-footer .footer-links a{
    color: #fff;
    padding: 7px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    padding-left: 70px;
    display: inline-block;
}
.footer-line{
    border-top: 1px solid #017ab0 ;
    width: 100%;    
}

.links{
    top: 50px;
}
.footer-box{
    width: 30%;
    left: 40%;
    display: block;
}

div.content.text{

    max-width: 960px;
    margin: 0 auto;
}